@{
  Layout = "_Layout";
}

@model BestRestaurant.Models.Restaurant

<h1>Restaurant Details</h1>
<hr/>
<h3>@Html.DisplayNameFor(model => model.RestaurantName): @Html.DisplayFor(model => model.RestaurantName)</h3>
<h3>@Html.DisplayNameFor(model => model.Cuisine): @Html.DisplayFor(model => model.Cuisine.CuisineType)</h3>

<p>@Html.ActionLink("Edit restaurant", "Edit", new { id = Model.RestaurantId })</p>
<p>@Html.ActionLink("Delete restaurant", "Delete", new { id = Model.RestaurantId })</p>